@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&family=Merriweather&family=PT+Sans&family=PT+Serif&family=Playfair+Display&family=Poppins&family=Raleway:wght@200;400&family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 1em/1 'Playfair Display', serif;
}

body {
    background-image: url('https://images.unsplash.com/photo-1700422300144-713dad3a1c4a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


