
.registerForm {
    align-self: center;
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.5);
    padding: 3em 10em;
    border-radius: 1em;
}

.registerForm h2 {
    font-family: 'Allura', cursive;
    font-size: 4em;
    margin-bottom: 0.2em;
}

.registerForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.registerForm form label {
    font-size: 2em;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.7);
    color: #fff;
    margin-bottom: 0.4em;
}

.registerForm form input {
    font-size: 1.5em;
    border-radius: 0.2em;
    padding: 0.3em;
    background-color: #000;
    color: #fff;
}

.registerForm form input:focus {
    background-color: #fff;
    color: #000;
}

.registerForm form button {
    margin-top: 1em;
    font-size: 1.2em;
    padding: 0.3em 1em;
    border-radius: 0.2em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    transition: box-shadow 1s, background-color 1s, color 1s, font-size 1s;
}

.registerForm form button:hover {
    opacity: 0.7;
    box-shadow: 0 0 3em 2em rgba(0, 0, 0, 0.77);
    background-color: rgba(0, 0, 0, 0.77);
    color: #fff;
    font-size: 2em;
}

.error {
    color: darkred;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    max-width: 15em;
    margin: 1em 0;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
}