@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&family=Merriweather&family=PT+Sans&family=PT+Serif&family=Playfair+Display&family=Poppins&family=Raleway:wght@200;400&family=Work+Sans&display=swap');

.homePage {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 1.5em/2 'Playfair Display', serif;
}

.exploreSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 2px solid rgba(18, 72, 76, 0.77); */
    padding: 1em 2em;
    text-shadow: 0.1em 0.1em rgba(46, 54, 55, 0.77);
    min-height: 30em;
}

.exploreSection h2 {
    font-size: 3em;
    color: rgba(18, 162, 162, 0.77);
}

.exploreSection p {
    font-size: 1.2em;
    color: #fff;
}

.exploreBtn {
    margin-top: 2em;
    padding: 1em;
    border-radius: 50%;
    transition: box-shadow 1s, background-color 1s;
}

.exploreBtn:hover {
    box-shadow: 0 0 3em 2em rgba(0, 0, 0, 0.77);
    background-color: rgba(0, 0, 0, 0.77);
    color: #fff;
}

/* Carousel section */

.carousel {
    display: flex;
    gap: 2em;
    margin: 2em 0 3em 0;
}


article {
    text-align: center;
    padding: 1em;
    flex: 0 1 33%;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

article img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 5%;

}

.articleImgContainer {
    display: block;
    max-width: 11em;
}

article h3 {
    color: #fff;
    text-shadow: 0.1em 0.1em rgba(46, 54, 55, 0.77);

}

article p {
    flex-grow: 1;
}

article a {
    background-color: #ccc;
    padding: 0 1.2em;
    border-radius: 1.5em;
    transition: box-shadow 1s;
}

article a:hover {
    box-shadow: 0 0 3em 1.2em rgba(0, 0, 0, 0.77);
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* media section */

.media {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    line-height: 2;
    margin: 2em 0;
    box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

.media h4 {
    font-size: 2.5em;
    text-shadow: 0.1em 0.1em rgba(46, 54, 55, 0.77);
    padding: 0 1em;
}

.media p {
    font-size: 1.2em;
    margin: 1em 0;
    text-shadow: 0.1em 0.1em rgba(46, 54, 55, 0.77);

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.buttons a {
    padding: 1.4em;
    margin: 1em 0;
    font-size: 1.2em;
    background-color: #ccc;
    padding: 0 1.2em;
    border-radius: 1.5em;
    transition: box-shadow 1s;
}

.buttons a:hover {
    box-shadow: 0 0 3em 1.2em rgba(0, 0, 0, 0.77);
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}