.learnMoreSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}

.learnMoreSection img {
    display: block;
    width: 100%;
    max-width: 24em;
    height: 42em;
    opacity: 0.7;
    object-fit: cover;
}

.learnMoreSection h2 {
    flex-basis: 100%;
    margin: 1em 0;
}

.banner {
    flex: 0 1 20%;
    overflow: hidden;
    transition: flex 1s ease-in-out;
    max-height: 75vh;
    position: relative;
}


.banner:hover {
    background-color: #000;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.7);
    flex: 1 1 40%;
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7em;
    padding: 4em;
    font-size: 1.2em;
}

.text h4, .text p {
    margin: 1em 0;
}

.text a {
    display: inline-block;
    color: #fff;
    margin-top: 2em;
    background-color: blue;
    max-width: 6em;
    padding: 0.6em 1.5em;
}







