header {
    display: flex;
    justify-content: space-between;
}


ul, li, a {
    display: block;
    text-decoration: none;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 ul {
    gap: 0.5em;
    padding-left: 0.5em;
}

nav {
    display: flex;
}

nav ul {
    gap: 2em;
    padding-right: 2em;
}

.imgContainer {
    display: block;
    overflow: hidden;
    transition: width 1s, box-shadow 1s, background-color 1s;
}


header img {
    width: 2em;
    height: auto;
    display: block;
    object-fit: cover;    
}

.imgContainer:hover {
    box-shadow: 0 0 4em 4em rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.67);
}

.siteNavigation a {
    padding: 1em;
    border-radius: 40%;
    transition: box-shadow 1s, background-color 1s;
}

.siteNavigation a:hover{
    box-shadow: 0 0 4em 3em rgba(0, 0, 0, 0.77);
    background-color: rgba(0, 0, 0, 0.77);
    color: #fff;
}

